<div>
    <table class="records-table table">
        <thead>
        <tr>
            <th>№</th>
            <th>Упражение</th>
            <th>Предыдущий результат</th>
            <th>Текущий результат</th>
            <th>Вес</th>
            <th>Количество повторений</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Жим лежа</td>
            <td>45</td>
            <td>50</td>
            <td>70</td>
            <td>10</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Жим лежа</td>
            <td>45</td>
            <td>50</td>
            <td>70</td>
            <td>10</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Жим лежа</td>
            <td>45</td>
            <td>50</td>
            <td>70</td>
            <td>10</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Жим лежа</td>
            <td>45</td>
            <td>50</td>
            <td>70</td>
            <td>10</td>
        </tr>
        </tbody>
    </table>
</div>