<form action="">
    <div class="form authorization-form registration-form">
        <h1>Healthy</h1>
        <h2 class="site-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, culpa debitis
            dolores dolorum eius
            necessitatibus officiis similique sunt. Accusantium, dolorum maiores odit possimus quia quibusdam
            reiciendis
            veritatis. Dolores fuga, odit?</h2>
        <input class="text-input" type="text" placeholder="Имя и фамилия"/>
        <input class="text-input" type="email" placeholder="Электронная почта"/>
        <input class="text-input" type="password" placeholder="Пароль"/>
        <input class="text-input" type="password" placeholder="Повторите пароль"/>
        <button class="btn" type="submit">Регистрация</button>
        <hr/>
        <div class="authorization-link">
            <p>Уже зарегистрированы?<a href="#"> Войдите</a></p>
        </div>
    </div>
</form>