
footer {
  background-color: $main-theme-grey;
  color: $soft-grey;
  display: flex;
  flex-direction: column;
  padding: $standart-indent 10%;
  margin-top: $standart-indent;
  @include default-shadow;

  .menu {
    padding: $standart-indent;
    width: 150px;
    @include border-bottom-hr;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    li:before {
      content: "• ";
      color: $gold;
    }
    &::before {
      background: $gold;
    }
  }

  .author {
    margin-top: $standart-indent;
    font-size: smaller;
  }

}