@import "button.css";
@import "footer.css";
@import "form.css";
@import "header.css";
@import "textInput.css";
@import "forms/authorizationForm.css";
@import "forms/registrationForm.css";
* {
    padding: 0;
    margin: 0;
}

body {
    color: white;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    padding: 50px 0;
    align-self: center;
}




