@import "button.css";
@import "footer.css";
@import "forms/form.css";
@import "header.css";
@import "textInput.css";
@import "/forms/form.css";
@import "forms/authorizationForm.css";
@import "forms/registrationForm.css";
@import "forms/registrationResultForm.css";
@import "recordsTable.css";

* {
    padding: 0;
    margin: 0;
}

*::selection {
    background-color: #bd935e;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

main {
    padding: 50px 0;
    align-self: center;
    flex: 1;
}




