.input {
    font-family: 'Oswald', sans-serif;
    font-size: 0.9rem;
    border: 1px solid #bd935e;
    border-radius: 3px;
    padding: 4px;
}

.input:focus {
    outline-color: #bd935e;
    border-color: #bd935e;
    color: black;
}