
.form {
    box-sizing: border-box;
    width: 500px;
    display: flex;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    color: #b7b7b7;
    flex-direction: column;
    justify-content: space-around;
    padding: 45px;
    margin: 20px auto;
    align-self: center;
}

.form h1 {
    user-select: none;
    font-family: 'Leckerli One', cursive;
    color: black;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
}

.registration-link {
    text-align: center;
    color: #5a5a5a;
    margin-top: 10px;
}

.registration-link a {
    text-decoration: none;
}


