.new-record-form{
    color: #5a5a5a;
    width: 500px;
}

.new-record-form .btn {
    margin-top: 5px;
}

.result-name,
.new-record-form div {
    margin-bottom: 5px;
}

.new-record-form input:not(.result-name) {
    width: 200px;
}

.new-record-form div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.new-record-form label{
    align-self: center;
}