.registration-form .site-description{
    text-align: center;
    margin-bottom: 15px;
}

.authorization-link {
    text-align: center;
    color: #5a5a5a;
    margin-top: 10px;
}

.authorization-link a {
    text-decoration: none;
}