body {
  font-family: 'Open sans', sans-serif;
  font-size: 16px;
  display: flex;
  height: 100vh;
  min-height: 100%;
  min-width: 576px; //mobile divices
  flex-direction: column;

  .application{
    margin: 0 10%;
    flex-grow: 1;
  }
}

//_partials
@import "_partials/_variables";
@import "_partials/_mixins";

//_components
@import "_components/header";
@import "_components/footer";
@import "_components/elements";